body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #404144;
	line-height: 17px;
}
a {
	color: #404144;
}
a:focus, a:hover {
    color: #FFC540;
    text-decoration: underline;
}
.bold {
	font-weight: bold;
}
.color_17 {
    color: #FFC540 !important;
	border-color:  #FFC540 !important;
}
.navbar-header h1 {
	margin: 0;
	padding: 0px 0 50px 50px;
}
.navbar-header h1 a.navbar-brand {
	font-size: 25px;
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
	background: none;
	border: none;
	box-shadow: none;
	text-decoration: underline;
	color: #FFC540;
	font-size: inherit;
}
#page-title {
	font-size: 36px;
	font: normal normal normal 32px/1.1em 'open sans',sans-serif;
	color: #404144;
}

.main-container {
	min-height: 560px;
	margin-top: 102px;
}
.main-row {
	margin-top: 24px;
}
.sub-h5{
	font-size: 23px;
    color: #404144;
    border-top: 3px solid #404144;
    margin: 0;
    padding: 2px 0 10px 0;
    font-size: 25px;
}
.top-buffer { 
    margin-top: 32px;
}
.main-row  .branches-list{
    font-style: italic;
    font-size: 17px;
    font-weight: normal;
}
.main-row  .branches-list li{
	margin-top: 20px;
}
.main-new-block {
    margin-bottom: 20px; 
}
.main-new-block img{
	border: 3px solid rgba(184, 187, 193, 0.2);
	width: 130px;
}
.main-new-block .left-block{
	float: left;
	width: 136px;
}
.main-new-block .right-block{
    margin-left: 146px; 
}
.main-new-block .date-block{
	font-size: 11px;
}
.main-new-block .text-block{
	margin-top: 15px;
}
.main-new-block .main-read-more{
	font-size: 11px;
	text-transform: uppercase;
	color: #FFB400;
}
.kons-banner {
	background-color: #FFB400;
	color: #fff;
	padding: 40px 20px;
	min-height: 325px;
}
.kons-banner h5 {
    font-size: 26px;
	margin: 0;
}
.kons-banner h6 {
    font-size: 11px;
	text-transform: uppercase;
	color: #404144;
	margin: 0;
}
.kons-banner p.tel {
	margin: 40px 0 20px 0;
	font-size: 28px;
}
.btn-black {
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    background: rgba(64, 65, 68, 1) url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/shiny1button_bg.png) 50% 50% repeat-x;
    border: solid rgba(64, 65, 68, 1) 0px;
    cursor: pointer !important;
}
.office-addr {
	margin: 20px 0px 40px 0px;
}
.office-addr p {
	margin: 0;
	padding: 0;
}
.about-tel {
    margin: 20px 0 90px 0;
    font-size: 25px;
}
#list-wrap .list-item {
    margin-top: 20px;
}
#list-wrap .list-item .h4{
	margin-bottom: 5px;
}
#item-wrap small, 
#list-wrap .list-item small{
    padding-bottom: 5px;
    display: block;
    font-style: italic;
}
#item-wrap img, 
#list-wrap .list-item img{ 
    width: 80px !important;
    height: auto !important;
}
footer {
    background-color: #222;
    border-color: #080808;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    padding: 15px 0;
    width: 100%;
    height: 45px;
}
footer .text-muted{
	color: #fff;
}
@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 768px) {
	.navbar{
		padding: 13px 0px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.navbar-right {
		padding-right: 15px;
	}
}

@media (max-width: 970px) {
	.main-container {
		min-height: 560px;
		margin-top: 152px;
	}
}
@media (max-width: 768px) {
	.main-container {
		min-height: 560px;
		margin-top: 76px;
	}
}

